* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

html, body {
  height: 100%;
  background-color: #121212; }

.clear {
  clear: both; }

.box__true {
  width: 30%;
  background-color: #AFD275;
  color: #F1F1F1;
  font-size: 16px;
  font-style: italic;
  padding: 8px;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 9999;
  border-radius: 10px; }

.box__false {
  width: 30%;
  background-color: #e45757;
  color: #F1F1F1;
  font-size: 16px;
  font-style: italic;
  padding: 8px;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 9999;
  border-radius: 10px; }

.box__form {
  width: 100%;
  max-width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .box__form .logo__marca h2 {
    color: #F1F1F1;
    font-size: 30px;
    text-align: center;
    padding: 15px 0; }
  .box__form input[type=email], .box__form input[type=password] {
    width: 100%;
    padding: 10px 2%;
    border-radius: 10px;
    border: 0;
    margin-bottom: 10px;
    background-color: #F1F1F1; }
  .box__form input[type=email], .box__form input[type=password]:focus {
    outline: none;
    transition: 1s; }
  .box__form .lembrar__cliente input[type=checkbox] {
    border: 0;
    border-radius: 8px; }
  .box__form .lembrar__cliente label {
    color: #F1F1F1;
    font-size: 16px; }
  .box__form input[type=submit] {
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 10px;
    border: 0;
    background-color: #C3073F;
    color: #F1F1F1;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer; }

.painel__menu {
  float: left;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  position: fixed;
  top: 0;
  left: 0; }
  .painel__menu .logo__marca h2 {
    color: #F1F1F1;
    font-size: 29px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding: 10px 0; }
  .painel__menu .menu__bloco {
    width: 100%;
    margin-bottom: 40px; }
    .painel__menu .menu__bloco ul {
      list-style-type: none; }
      .painel__menu .menu__bloco ul li {
        margin: 10px 20px; }
        .painel__menu .menu__bloco ul li a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          cursor: pointer; }
      .painel__menu .menu__bloco ul .linha {
        width: 82%;
        height: 2px;
        background-color: #F1F1F1; }

.header__navigation {
  width: calc(100% - 250px);
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.616);
  float: right; }
  .header__navigation .perfil__avatar {
    padding: 4px;
    background-color: black;
    border-radius: 30px;
    margin: 0 20px;
    float: right;
    cursor: pointer; }
    .header__navigation .perfil__avatar img {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
    .header__navigation .perfil__avatar span {
      padding: 4px;
      color: white;
      font-size: 16px;
      position: relative;
      top: -8px; }

.conteudo__principal {
  width: calc(100% - 250px);
  float: right; }

.container__diplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.main__row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 3);
  margin-top: 10px;
  margin-bottom: 10px; }
  .main__row img {
    width: 124px;
    height: auto; }

.main__row__title {
  width: 80%;
  margin: 20px 0 20px 35px; }

.main__row__title h2 {
  color: white; }

.main__col {
  cursor: pointer;
  width: 80%;
  margin-left: 10%;
  margin-top: 0px;
  background-color: #282828;
  border-radius: 8px;
  padding: 10px;
  text-align: center; }

.main__col h3 {
  color: white;
  margin: 8px 0;
  text-align: left; }

.main__col p {
  color: #646464;
  margin: 8px 0;
  font-size: 13px;
  text-align: left; }

.main__artist__row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% / 5);
  margin-top: 10px;
  margin-bottom: 10px; }
  .main__artist__row img {
    width: 50%;
    border-radius: 50%; }
  .main__artist__row .main__content__artist {
    background-size: cover;
    background-position: center;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    background-color: #282828;
    border-radius: 50%;
    padding: 85px;
    text-align: center; }
  .main__artist__row h3 {
    font-size: 18px;
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px  0; }

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 100px;
  display: flex;
  background-color: #3c3c3c; }

.player__artist {
  width: 20%; }

.player__artist img {
  max-width: 70px;
  display: inline-block;
  vertical-align: middle; }

.player__artist h3 {
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
  margin-left: 10px; }

.player__artist h3 > span {
  color: #c8c8c8;
  font-size: 13px; }

.player__control {
  width: 70%;
  text-align: center; }

.player__control__buttons a {
  color: white;
  margin: 8px 15px;
  font-size: 18px; }

.player__control__progress {
  width: 100%;
  max-width: 600px;
  height: 7px;
  margin-top: 20px;
  position: relative;
  border-radius: 8px;
  display: inline-block;
  background: #828282; }

.player__control__progress_2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 7px;
  border-radius: 8px;
  background-color: white; }

/*# sourceMappingURL=style.css.map */
